<div id="page-content" class= "d-flex" > 
  <div class="d-flex jumbotron jumbotron-fluid p-5 rounded m-5 text-center text-white shadow align-items-center flex-fill">
    <div class="container  align-self-center" text-center" >
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">This is a simple blog app created to increase my understanding of Ruby on Rails</p>
      <hr class="my-4">
      <p>Create an account and start posting blog article today! </p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Made by Gubbsy</small>
  </div>
</footer>